.preview {
  background-color: #fff;
}

.preview img {
  max-width: 100%;
}

body {
  background-color: #9c88ff !important;
}

textarea,
.preview {
  min-height: 400px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: solid 1px black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}