
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.preview {
  background-color: #fff;
}

.preview img {
  max-width: 100%;
}

body {
  background-color: #9c88ff;
}

textarea,
.preview {
  min-height: 400px;
}

table {
  border-collapse: collapse;
}

tr {
  border-bottom: solid 1px black;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}